<div class="container">

  <div class="nav-bar">
    <a href="/cocktails"><div class="btn btn-primary">Back to menu</div></a>
    <a href="/cocktails/new"><div class="btn btn-primary">New cocktail</div></a>
  </div>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photos %>
    <%= f.input :photos_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

</div>
