<div class="container">

  <div class="nav-bar">
    <a href="/cocktails"><div class="btn btn-primary">Back to menu</div></a>
    <a href="/cocktails/new"><div class="btn btn-primary">New cocktail</div></a>
  </div>

  <%= cl_image_tag @cocktail.photos, height: 300, width: 500, crop: :fill %>
  <h1><%= @cocktail.name %></h2>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li> <%= dose.ingredient.name %>: <%= dose.description %> <%= link_to "remove", "/doses/#{dose.id}", method: :delete %> </li>
    <% end %>
  </ul>

  <a href="/cocktails/<%= @cocktail.id %>/doses/new"><div class="btn btn-primary">New dose</div></a>


</div>
